<html>
	<head>
		<title>Perk</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no"/>
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/css/main.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
		<link rel="stylesheet" href="assets/css/snapjs/snap.css">
		<link rel="stylesheet" href="assets/css/angular-snap-only.css">
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->

	</head>
	<body ng-app="app" ng-controller="loginController">

		<!-- need to merge myUsers.js with login.js for this page to work -->
		<!-- Left slide out page -->
		<div id="shelf-1" snap-drawer>
			  <h1>testing testing</h1>
			  <p>testing testing</p>
   	</div>

   	<div id="content" class="scrollable" snap-content snap-options="snapOpts">


		<!-- Header -->
			<header id="header">

				<!-- Logo and Nav -->
				<div align="center">
					<a href="#" snap-toggle="left"><span class="glyphicon glyphicon-th-list left"></span></a>
					<a href="#"><span class="glyphicon glyphicon-cog right"></span>​</a>
					<a href="#"><img src="images/perk2.png" style="align:center"></a>
				</div>
			</header>

		<!-- intro -->
			<style>
				.loggedIn{
					opacity:0%;
					transition opacity: 1s;
				}

				@keyframes flyin {
					to {
						filter: blur(0);
						transform: scale(1);
						opacity: 1;
					}
				}
				.login {
					animation: flyin .5s ease forwards;
					opacity: 0;
					transform: scale(.5);
					filter: blur(4px);
				}
			</style>
			<script>
							function login(){
								var log = true;
								if(log){
									$(login).attr("loggedIn");
								}
							}
			</script>
			<section id="blank" class="main style1 dark fullscreen">
				<div id="googlemaps" class="blackbg" style="filter: blur(5px)"></div>
				<div class="content container 75%">

					<!-- user is not logged in -->
					<div ng-hide="loggedIn">

						<!-- if newUser = false, display login -->
						<div ng-hide="displaySignUp" class="login">
							<input type="text" placeholder="username"><br>
							<input type="password" placeholder="password"><br>
							<button class="btn btn-success" ng-click="login()"
										style="padding-left: 106px; padding-right: 106px; margin-top: 10px;">Log-in</button>
							<p><a href="" ng-click="newUser('signup')">Create an account</a></p>
						</div>

						<!-- if newUser = true, display signup -->
						<div ng-show="displaySignUp" class="login">
							<input type="text" ng-model="username" placeholder="username"><br>
							<input type="password" ng-model="passw1" placeholder="password"><br>
							<input type="password" ng-model="passw2" placeholder="confirm password"><br>
							<input type="text" ng-model="email" placeholder="e-mail" style="margin-top: 10px;"><br>
							<input type="text" ng-model="number" placeholder="phone number" style="margin-top: 10px;"><br>
							<input type="text" ng-model="vehicle" placeholder="vehicle" style="margin-top: 10px;"><br>
							<input type="text" ng-model="vcolor" placeholder="vehicle color" style="margin-top: 10px;"><br>
							<button class="btn btn-success" ng-disabled="error || incomplete" ng-click="signup()"
										style="padding-left: 100px; padding-right: 100px; margin-top: 10px;">Sign-Up</button>
							<p><a href="" ng-click="newUser()">Cancel</a></p>
						</div>
					</div>
					<!-- end of user not logged in -->

						<!-- user is logged in -->
						<div ng-show="loggedIn">
							<a href="#">
								<button class="btn btn-success" ng-click="ride()"
										style="padding-left: 60px; padding-right: 60px; margin-top: 10px;">
										Request a Ride
								</button>
							</a>
							<a href="#info">
								<button class="btn btn-success" ng-click="park()"
										style="padding-left: 70px; padding-right: 70px; margin-top: 10px;">
										View users
								</button>
							</a>
						</div>
						<!-- end of user logged in -->
				</div>
			</section>

		<!-- info -->
			<section id="info" class="main style3 primary">
				<div class="content container">
					<a class="carousel-control left" href="#/current/prev" data-slide="prev">
    					<span class="glyphicon glyphicon-chevron-left"></span>
					</a>

					<a class="carousel-control right" href="#/current/next" data-slide="next">
    					<span class="glyphicon glyphicon-chevron-right"></span>
					</a>

					<header>
						<h2>John Doe</h2>
						<p>johndoe@cpp.edu</p>
					</header>
					<p>
						<a class="btn btn-default btn-lg" href="#" role="button">Call</a>
						<a class="btn btn-default btn-lg" href="#" role="button">Chat</a>
					</p>
				</div>
			</section>
		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
			<script src="assets/js/login.js"></script>
			<script>$('body').bind('touchmove', function(e){e.preventDefault()})</script>
			<script src="assets/js/snap.js"></script>
			<script src="assets/js/angular-snap.js"></script>

			<script src="https://maps.googleapis.com/maps/api/js"></script>
		   <script>
		      function initialize() {
		        var mapCanvas = document.getElementById('googlemaps');
		        var mapOptions = {
		          center: new google.maps.LatLng(34.0569172,-117.8217494),
		          zoom: 16,
		          mapTypeId: google.maps.MapTypeId.ROADMAP
		        }
		        var googlemaps = new google.maps.Map(mapCanvas, mapOptions);
				googlemaps.setOptions({draggable: false, zoomControl: false, scrollwheel: false, disableDoubleClickZoom: true,disableDefaultUI: true});
		      }
		      google.maps.event.addDomListener(window, 'load', initialize);

		   </script>

	</body>
</html>
