<html>
  <head>
    <title>Perk - Driver</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href = "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <link rel="stylesheet" href="../assets/css/main.css" />

  <body ng-app="myApp" ng-controller="userCtrl">

  <!-- Header -->
      <header id="header">

        <!-- Logo -->
        <div align="center">
          <a href="#"><img src="../images/perk2.png" style="align:center"></a>
        </div>

      </header>

      <section id="introsmall" class="main style2">

        <div class="container" align="center">
          <!--add departure time / edit time-->
          <h3>Add departure time</h3>
          <form class="form-horizontal">

            <div class="form-group">
              <div class="col-sm-30">
                <input type="text" ng-model="fName" ng-disabled="!edit" placeholder="Name">
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-30">
                <input type="text" ng-model="email" ng-disabled="!edit" placeholder="E-mail">
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-30">
                <input type="text" ng-model="lot" ng-disabled="!edit" placeholder="Lot">
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-30">
                <input type="text" ng-model="departTime" ng-disabled="!edit" placeholder="12:00am/pm">
              </div>
            </div>
            </form>

          <button class="btn btn-success" ng-disabled="incomplete" ng-click="submitTime()">
            <span class="glyphicon glyphicon-save"></span> Submit
          </button>
        </div>

      </section>

    <!--table data-->
    <table class="table table-striped">
      <thead>
        <tr>
          <th><span class="lightbold">Name</span></th>
          <th><span class="lightbold">Lot</span></th>
          <th><span class="lightbold">Departure</span></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in users">
          <td>{{ user.fName }}</td>
          <td>{{ user.lot }}</td>
          <td>{{ user.departTime }}</td>
          <td>
            <button class="btn" ng-click="editEntry(user.id)"> Request </button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Footer -->
      <footer id="footer">
          <div class="copyright">
            <center>&copy; RZZK. All rights reserved.</center>
          </div>
      </footer>

    <script src= "myUsers.js"></script>

  </body>
</html>
